body {
    font-family: sans-serif;
    margin: 0;
}

label {
    display: block;
    float: left;
    width: 260px;
}

input, select {
    height: 20px;
    border: 1px solid auto;
}

input {
    height: 20px;
    width: 200px;
    border-radius: 5px;
}

select {
    width: 150px;
}

fieldset {
    border: 1px solid #58cca8;
    border-radius: 5px;
}

footer {
    padding: 40px 150px;
}

footer h4 {
    margin-top: 15px;
}

footer li, p {
    font-size: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #58cca8;
}

.bolder {
    font-weight: bolder;
}

.inverse-text {
    color: #fff;
}

.flex-container {
    display: flex;
}

.flex-container-inline {
    display: inline-flex;
}

.ls-none {
    list-style: none;
}

.pr20 {
    padding: 0 20px 0 0;
}

.pl60 {
    padding-left: 60px;
}

.pl100 {
    padding-left: 100px;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-sb {
    justify-content: space-between;
}

.w30 {
    width: 30%;
}

.w70 {
    width: 70%;
}

.w1000 {
    width: 1000px;
}

.w-333px {
  width: 333px!important;
}

.m-top-0 {
    margin-top: 0;
}

.relative {
    position: relative;
}

.align-center {
    align-items: center;
}

.section {
    padding: 60px;
}

.light-tint {
    background-color: #f6f6f6;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.space-color {
    color: #58cca8;
}

.dark-space-color {
    background-color: #2b313d;
}

.form-width {
    width: 500px;
}

.fieldset-margin {
    margin-bottom: 25px;
}

.field {
    margin: 15px 0;
}

.bm25 {
    margin-bottom: 25px;
}

.button {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
}

#book {
    border: 1px solid white;
    color: white;
}

#submit {
    border: 1px solid #58cca8;
    color: #58cca8;
}

#header {
    position: fixed;
    background-color: #fff;
    height: 70px;
    left: 0;
    right: 0;
    font-weight: bolder;
    z-index: 100;
}

#top-logo {
    padding: 0 20px;
}

#banner-logo {
    width: 140px;
}

#overlap {
    position: absolute;
    top: calc(1008px / 2 - 277px / 2 + 70px);
    left: calc(50% - 305px/2);
    z-index: 50;
}
