body {
    font-family: sans-serif;
    margin: 0;
}

.inverse-text {
    color: #fff;
}

.flex-container {
    display: flex;
}

.flex-container-inline {
    display: inline-flex;
}

.ls-none {
    list-style: none;
}

.pr20 {
    padding: 0 20px 0 0;
}

.pl60 {
    padding-left: 60px;
}

.pl100 {
    padding-left: 100px;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.w30 {
    width: 30%;
}

.w70 {
    width: 70%;
}

.w1000 {
    width: 1000px;
}

.w-333px {
  width: 333px!important;
}

.m-top-0 {
    margin-top: 0;
}

.relative {
    position: relative;
}

.align-center {
    align-items: center;
}

.section {
    padding: 60px;
}

.light-tint {
    background-color: #f6f6f6;
}

#header {
    position: fixed;
    background-color: #fff;
    height: 70px;
    left: 0;
    right: 0;
    font-weight: bolder;
    z-index: 100;
}

#top-logo {
    padding: 0 20px;
}

#banner-logo {
    width: 140px;
}

#overlap {
    position: absolute;
    text-align: center;
    top: calc(1008px / 2 - 277px / 2 + 70px);
    left: calc(50% - 305px/2);
    z-index: 50;
}
