body {
    font-family: sans-serif;
    margin: 0;
}

.inverse-text {
    color: #fff;
}

.flex-container {
    display: flex;
}
.ls-none {
    list-style: none;
}

.pl20 {
    padding: 0 20px 0 0;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.w30 {
    width: 30%;
}

.w70 {
    width: 70%;
}

.align-center {
    align-items: center;
}

.banner-button {
    background-color: transparent;
    border-radius: 5px;
    height: 35px;
    color: #fff;
}

#header {
    position: fixed;
    background-color: #fff;
    height: 70px;
    left: 0;
    right: 0;
    font-weight: bolder;
    z-index: 1
}

#top-logo {
    padding: 0 20px;
}

#banner-logo {
    width: 140px;
}

#banner {
    top: 70px;
}

#overlap {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: calc((1080px/2) + 70px - 293px/2);
    left: calc(100%/2 - 306px/2);
}
